* {
  user-select: none;
  font-family: Roboto-Medium;
}

body {
  background-color: #000;
  display: flexbox;
  margin: 0;
}

h4 {
  margin: 3px;
  border: 2px solid #7363b3;
  border-radius: 4px;
  background-color: #9693ca;
}

.title {
  font-weight: normal;
  font-family: Minecraft-Font;
  font-size: 4vh;
  padding: 5px;
  margin: 3px;
  color: #a5d5ff;
  background-color: #484bb4;
  border: 2.7px solid #4b54c3;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
}

.app {
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
}

.line {
  border: 2px solid#a5d5ff;
}

#sw {
  top: 50%;
  left: 50%;
  transform: translate(-90%, -90%);
  width: 20rem;
  z-index: 3;

  animation: rotate2 .5s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#sw:hover {
  animation: rotate .5s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.block-outside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  z-index: 3;
}

.block {
  display: flex;
  flex-direction: column;
  padding: 3px;
  background-color: #7a6ea8;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 180%;
  height: auto;
  max-width: 200%;
  position: absolute;
  border: 3px solid #704cb9;
  border-radius: 12px;
  z-index: 0;
}

.tabs {
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: center;
  align-items: center;
}
    
.buttons {
  display: flex;
  flex-direction: column;
  width: 110%;
  height: 100%;
  margin: auto;
}

.tabButton {
  margin: 3px;
  font-family: Roboto-Medium;
  font-size: 2vh;
  background-color: #704cb9;
  border: 2px solid #935bdb;
  border-radius: 4px;

  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: .5s;
}

.tabButton:hover {
  background-color: #a572e9;

  cursor: pointer;

  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: .5s;
}

.tabButton:active {
  background-color: #a572e9;

  transform: scale(0.9);
}

.content {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.tabContent {
  background-color: #8eaef3;
  width: 100%;
  min-height: 100%;
  margin: 4px;
  border: 2px solid #a5d5ff;
  padding: 2px;
  font-size: 2.4vh;
  border-radius: 10px;
}

.linkButton {
  background-color: #b39adb;
  font-size: 2vh;
  border: 2px solid #9070b4;
  border-radius: 6px;
  margin: 3px;

  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.linkButton:hover {
  background-color: #9977c7;

  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.linkButton:active {
  transform: scale(0.9) rotate(1deg);
}

.gamesTab {
  margin: 5px;
  padding: 2px;
  font-size: 2vh;
  background-color: #9183ad;
  border: 2px solid #bbabcf;
  border-radius: 4px;
  width: 100%;
  min-height: 100%;
}

.addInfoTab {
  margin: 6px;
  font-family: Roboto-Medium;
  font-size: 2vh;
  background-color: #ad83ab;
  border: 2px solid #bbabcf;
  border-radius: 4px;
  width: 100%;
  min-height: 100%;
}

.extrasTab {
  margin: 6px;
  font-family: Roboto-Medium;
  font-size: 2vh;
  background-color: #c285e6;
  border: 2px solid #c394d1;
  border-radius: 4px;
  width: 100%;
  min-height: 100%;
}
        
.time {
  font-size: 1.8vh;
  background-color: #5540a0;
  border: 2px solid #484bb4;
  border-radius: 6px;
  color: #8b7e9d;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: Roboto-Medium;
  src: url(assets/roboto-medium-webfont.woff);
}

@font-face {
  font-family: Minecraft-Font;
  src: url(assets/MinecraftRegular-Bmg3.woff);
}

@keyframes rotate {
  0% {transform: rotate(0) translate(-90%, -90%);}
  100% {transform: rotate(5deg) translate(-80%, -80%);}
}

@keyframes rotate2 {
  0% {transform: rotate(5deg) translate(-80%, -80%);}
  100% {transform: rotate(0) translate(-90%, -90%);}
}