* {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}

body {
    background: #000000;
}

p {
    color:#FFFFFF ;
}

h1 {
    color:#FFFFFF;
    border-style: solid;
    border-width: 0px 0px 7px 0px;
}

a {
    color: #FFFFFF;
}

.margin {
    margin: 7px;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
}