* {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    user-select: none;
}

body {
    background-color: darkgray;
}

.title {
    font-family: cursive;
    font-size: 30px;
    border: 8px;
    background-color: grey;
    border-radius: 7px;
    margin: auto;
    width: 200px;
    margin-bottom: 10px;
}

.sections {
    margin: auto;
    margin-top: 10px;
    background-color: #707070;
    border-radius: 7px;
    width: fit-content;
}

.tablinks {
    font-family: cursive;
    font-size: 30px;
    border: 8px;
    background-color: grey;
    border-radius: 7px;
    margin: auto;
    width: 200px;
    margin-bottom: 10px;
}

.tablinks:hover {
    transform: scale(1.1);
    transition-duration: .4s ;
    color: #ccc
}

.tablinks:active {
    transform: scale(0.9);
    transition-duration: .4s;
    background-color: #666;
}

.button {
    border: 5px;
    border-radius: 7px;
    background-color: grey;
    text-decoration: none;
    color: black;
    width: fit-content;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 25px;
}

.button:hover {
    background-color: #303030;
    transform: scale(1.2);
    transition: ease-out;
    transition-duration: .77s;
}


.info {
    margin: auto;
    width: fit-content;
    border-radius: 7px;
    background-color: grey;;
    font-size: 30px;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    animation: fadeEffect 1s;
  }

@keyframes fadeEffect {
    from { opacity: 0;}
    to { opacity: 1;}
}